.Rproj.user
.Rhistory
.RData
.Ruserdata
.Integracao-PyR.Rproj
.requirements_carol.txt
.diamonds_example_gaussian.RData
diamonds_example_gaussian.RData
ANVISA
Aula_CEUB
CADE
IC
LatinR
LatinR2024
Multi
R_tras_pra_Frente
R)tras_pra_Frente_SDS
Redes
Residencia_Fiocruz
SPSAS
Semabio2023
Semabio_UnB_2024
Substituto
TCC
UserR2024
_extensions
apresentacao_files
capitulos
copa
cursor
img
reticulate
src
EXEMPLO_EXCEL.xlsx
README.md
Relatorio_Iris_Semabio.Rmd
Relatorio_Iris_Semabio.docx
