.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: unset !important;
  right: unset !important;
  top: 5px;
  left: 5px;
  height: 100px !important;
  width: 500x !important;
  max-width: unset !important;
  max-height: unset !important;
}